.box-thank-you {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 10px 10px;
  gap: 20px;
  opacity: 0;
  animation: fade 0.7s ease-in-out forwards;
}
.img-thank {
  width: 100%;
  max-width: 180px;
}
.selected {
  display: flex;
  font-family: var(--fml);
  background: var(--Opacity);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  color: var(--Orange);
  align-items: center;
  justify-content: center;
}
.title {
  font-family: var(--fml);
  font-size: 32px;
  font-weight: 700;
  color: var(--White);
}
.description {
  font-family: var(--fml);
  font-size: 18px;
  font-weight: 400;
  color: var(--Light-Grey);
  text-align: center;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
